* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  margin: auto;
  padding: 0;
}

.App {
  height: 95%;
  width: 100%;
}

.panel {
  float: left;
}

.grid-tile {
  float: left;
  width: 50px;
  height: 50px;
}

.grid-tile.has-content {
  border: none;
}

.code-panel {
  height: 100%;
  font-size: 22px;
  font-family: Courier;
  padding: 10px;
}

.bottom-panel {
  background: black;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.bottom-panel > div {
  margin-left: 40px;
}

.icon-placeholder {
  pointer-events: none;
  position: absolute;
  opacity: 1;
}

.grid-color1 {
  background-color: rgba(0, 96, 178, .2);
}

.grid-color2 {
  background-color: rgba(76, 172, 255, .2);
}

.code-text-caret {
  color: green;
  font-weight: 800;
}

/*
.grid-tile:nth-child(12n + 1) {
  clear: left;
}
*/
