* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  margin: auto;
  padding: 0;
}

.App {
  height: 95%;
  width: 100%;
}

.panel {
  float: left;
}

.grid-tile {
  float: left;
  border: 1px solid gray;
  width: 50px;
  height: 50px;
}

.grid-tile.has-content {
  border: none;
}

.code-panel {
  font-size: 22px;
  font-family: Courier;
  padding: 10px;
}

.bottom-panel {
  background: black;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.bottom-panel > div {
  margin-left: 40px;
}

/*
.grid-tile:nth-child(12n + 1) {
  clear: left;
}
*/
